{% extends "base/base.html" %}
{% block titulo %}RE-ENTRENAR{% endblock %}
{% block cuerpo %}


<!-- --------------------------------------------------------------------------------------------------------------- -->

    <h1>RE-ENTRENAR</h1>
    <form action="index.php" method="post" enctype="multipart/form-data">
    Archivo para subida: <input type="file" name="re-entrenar">
        <input type="submit" name="enviado" value="ENVIAR">
    </form>

<!-- --------------------------------------------------------------------------------------------------------------- -->


{% endblock %}