{% extends "list.html" %}
<!--{% block titulo %}CREAR RED{% endblock %}-->
<!--{% block cuerpo %}-->


<!--&lt;!&ndash; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--    <h1>CREAR RED</h1>-->
<!--    <form method="post" action="../upload/ " enctype="multipart/form-data" >{% csrf_token %}-->
<!--    Archivo para subida: <input type="file" name="crear_red" multiple />-->
<!--        <input type="submit" value="ENVIAR" />-->
<!--    </form>-->




{% endblock %}

<!-- --------------------------------------------------------------------------------------------------------------- -->
