<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>INFORME DE GLUCOSA</title>
    </head>
    <center>
        <body style="width:80%">
            <h1 style="color:black">
                Buenas {{username}} , a continuación se le muestra su informe de glucosa:
            </h1>
            <br><br>
            <h2 style="color:black; text-align:center;font:16px;">Informe</h2>
            <br>
            <h3 style="color:black;font:12px">
                Buenas {{username}}. Tiene un factor de corrección de {{CF}}, quiere decir que {{CF}} mg/dL es lo que le disminuye
                una unidad tras su inyección, con lo adjuntado en la
                siguiente ilustración, podrá ver que mediante la línea vertical <a style="color:red;font:12px">roja</a> marca el
                valor de glucosa más alto encontrado en dicha franja, se aconseja que para la franja temporal de las primeras
                <a style="color:black;font:13px;"> 12 horas </a> se inyecte {{BOLO_12h}} unidades de insulina 2 horas previas al
                pico de hiperglucemia,
                para contrarrestar así la subida y mantener en objetivo la glucosa, también se recomienda para la franja de 24h :
                {{BOLO_24h}} unidades.
                <br><br>
                Por otro lado, la línea vertical <a style="color:green;font:12px">verde</a> marca el valor de glucosa más bajo, en
                caso de que este valor sea por debajo de la zona sombreada
                <a style="font-style:italic">(Rango objetivo)</a>, se recomienda la ingesta de carbohidratos en pequeñas porciones,
                para mantenerse dentro del Rango objetivo, que es la zona sombreada.
            </h3>
            <br>
            <h4>
                Se recomienda visitar <a href="https://drive.google.com/file/d/1Vp9IIKwuQIkJzHVSjh6p1XBCFmPCoChG/view?usp=sharing">este
                enlace</a> siguiente para obtener información más detallada sobre los distintos alimentos.
            </h4>
            <p>Esto se trata de una recomendación, prevalecerá a lo indicado por su médico.</p>
            <br>
            <p style="color:blue">En caso de la existencia de algún problema, contactar con soporte.</p>
            <p style="color:blue">NO RESPONDER ESTE CORREO.</p>

            <table class="default" style="background:#D1D1D1; width:100%; color:black">

                  <tr style="width:33%">
                        <td><strong><h4>Dirección</h4></strong></td>
                        <td><strong><h4>Contacto</h4></strong></td>
                        <td><strong><h4>Autor</h4></strong></td>
                  </tr>

                  <tr style="width:33%">
                            <td> <h5> Escuela Politécnica Superior de Linares</h5></td>
                            <td> <h5>Email : jjmc0024@red.ujaen.es </h5> </td>
                            <td> <h5> Juan José Martínez </h5></td>
                  </tr>
                        <br>
                  <tr style="width:33%">
                            <td> © 2022 Folder. All Rights Reserved </td>
                            <td></td>
                            <td></td>
                  </tr>

            </table>
        </body>
    </center>

</html>
