<!DOCTYPE html>
{% extends "base/base.html" %}
{% block titulo %}PREDECIR{% endblock %}
{% block cuerpo %}
<html>
    <head>
        <meta charset="utf-8">

    </head>
    <CENTER><h1>PREDECIR</h1></CENTER>


        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list_pre' %}" method="post" enctype="multipart/form-data">

            <p>{{ form.non_field_errors }}</p>{% csrf_token %}

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="UPLOAD"/></p>
        </form>
     <center>  {% load static %} <img src="{% static 'media/Prediccion.png' %}" alt="NO se tienen predicciones todavía"
                        width="800px" height="300px" align="center" />
    <figcaption>
    Aquí se mostrará la última prediccion
</figcaption>
</center>
    </body>

</html>
{% endblock %}