<!DOCTYPE html>
{% extends "base/base.html" %}
{% block titulo %}Re_Entrenar{% endblock %}
{% block cuerpo %}
<html>
    <head>
        <meta charset="utf-8">

    </head>
    <CENTER><h1>RE-ENTRENAR</h1></CENTER>


        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list_re' %}" method="post" enctype="multipart/form-data">

            <p>{{ form.non_field_errors }}</p>{% csrf_token %}

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="UPLOAD"/></p>
        </form>
    </body>

</html>
{% endblock %}